FinalManuscript.aux
FinalManuscript.bbl
FinalManuscript.blg
FinalManuscript.fdb_latexmk
FinalManuscript.fls 
FinalManuscript.lof 
FinalManuscript.loa
FinalManuscript.lot
FinalManuscript.log
FinalManuscript.out
FinalManuscript.synctex.gz
FinalManuscript.toc